@charset "UTF-8";

@font-face {
  font-family: 'PFRegalDisplayPro-Reg';
  src: url("/media/couture/font/pf-togas/PFRegalDisplayPro-Reg_0.eot");
  src: local("☺"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-Reg_0.woff") format("woff"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-Reg_0.ttf") format("truetype"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-Reg_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFRegalDisplayPro-Medium';
  src: url("/media/couture/font/pf-togas/PFRegalDisplayPro-Medium_1.eot");
  src: local("☺"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-Medium_1.woff") format("woff"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-Medium_1.ttf") format("truetype"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-Medium_1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFRegalDisplayPro-MedItalic';
  src: url("/media/couture/font/pf-togas/PFRegalDisplayPro-MedItalic_0.eot");
  src: local("☺"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-MedItalic_0.woff") format("woff"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-MedItalic_0.ttf") format("truetype"), url("/media/couture/font/pf-togas/PFRegalDisplayPro-MedItalic_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PFBagueSansPro-Medium';
  src: url("/media/couture/font/pf-togas/PFBagueSansPro-Medium_1.eot");
  src: local("☺"), url("/media/couture/font/pf-togas/PFBagueSansPro-Medium_1.woff") format("woff"), url("/media/couture/font/pf-togas/PFBagueSansPro-Medium_1.ttf") format("truetype"), url("/media/couture/font/pf-togas/PFBagueSansPro-Medium_1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFBagueSansPro-Light';
  src: url("/media/couture/font/pf-togas/PFBagueSansPro-Light_1.eot");
  src: local("☺"), url("/media/couture/font/pf-togas/PFBagueSansPro-Light_1.woff") format("woff"), url("/media/couture/font/pf-togas/PFBagueSansPro-Light_1.ttf") format("truetype"), url("/media/couture/font/pf-togas/PFBagueSansPro-Light_1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFBagueSansPro-Bold';
  src: url("/media/couture/font/pf-togas/PFBagueSansPro-Bold_1.eot");
  src: local("☺"), url("/media/couture/font/pf-togas/PFBagueSansPro-Bold_1.woff") format("woff"), url("/media/couture/font/pf-togas/PFBagueSansPro-Bold_1.ttf") format("truetype"), url("/media/couture/font/pf-togas/PFBagueSansPro-Bold_1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div > div {
    margin-left: -5px;
    margin-right: -5px;
  }

  .debug > div > div > div {
    margin-left: 5px;
    margin-right: 5px;
  }

  .debug > div > div > div {
    width: -webkit-calc(8.33333% - 10px);
    width: calc(8.33333% - 10px);
  }

.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debug > div {
  height: inherit;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(8.33333% - 30px);
  width: calc(8.33333% - 30px);
  height: inherit;
  outline: 1px #ff0 solid;
  background: rgba(0, 0, 0, 0.1);
}

html,
body,
header,
#intro {
  height: 100%;
}

/*#intro {
  background: url("/media/couture/img/img-togas-lp3/slider1-sh.jpg?v=2") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
*/

p {
  font-size: 1em;
  color: #9D9D9C;
}

.navbar-togas .navbar-brand:hover,
.navbar-togas .navbar-brand:focus {
  color: white;
}

.navbar-togas .navbar-nav .nav-link {
  color: white;
}

.navbar-togas .navbar-nav .nav-link:hover,
.navbar-togas .navbar-nav .nav-link:focus {
  color: #b49256;
}

.navbar-togas .navbar-nav .nav-link.disabled {
  color: rgba(180, 146, 86, 0.3);
}

.navbar-togas .navbar-nav .show > .nav-link,
.navbar-togas .navbar-nav .active > .nav-link,
.navbar-togas .navbar-nav .nav-link.show,
.navbar-togas .navbar-nav .nav-link.active {
  color: white;
}

.navbar-togas .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-togas .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-togas .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-togas .navbar-text a {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-togas .navbar-text a:hover,
.navbar-togas .navbar-text a:focus {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-nav li:not(:last-child) a:after {
  content: "|";
  color: #fff;
  font-size: 100%;
  padding-right: 0px;
  padding-left: 4em;
}



/* BUTTONS TOGAS TOP */

.btn-outline-bronze {
  font-family: 'PFBagueSansPro-Light';
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  color: #fff;
  padding: 0.5rem 0.8rem !important;
  -webkit-border-radius: 0rem;
  border-radius: 0rem;
  background-color: transparent;
  border: 1px solid #B49256;
}

.btn-outline-bronze:hover {
  color: #fff;
  background-color: #B49256;
  border-color: #B49256;
}

/*.btn-outline-bronze > .txt-button-color {
  color: #B49256;
}*/

.btn-outline-bronze-color {

    font-family: 'PFBagueSansPro-Bold';
    font-size: 0.55em;
    text-transform: uppercase;
    letter-spacing: 0.43em;
    color: #B49256;
    padding: 1rem 2rem !important;
    -webkit-border-radius: 0rem;
    border-radius: 0rem;
    background-color: transparent;
    border: 1px solid #B49256;

}

/*.btn-outline-bronze .txt-button-color:hover {
  color: #B49256;
}*/
/*.btn-outline-bronze:focus, .btn-outline-bronze.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
*/

.btn-outline-bronze.disabled,
.btn-outline-bronze:disabled {
  color: #B49256;
  color: #B49256;
  background-color: transparent;
}

.btn-outline-bronze:not(:disabled):not(.disabled):active,
.btn-outline-bronze:not(:disabled):not(.disabled).active,
.show > .btn-outline-bronze.dropdown-toggle {
  color: #fff;
  background-color: #B49256;
  border-color: #B49256;
}

/*.btn-outline-bronze:not(:disabled):not(.disabled):active:focus, .btn-outline-bronze:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-bronze.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}*/

.btn-fill {
  font-family: 'PFBagueSansPro-Light';
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  color: #fff !important;
  padding: 0.5rem 1.3rem !important;
  -webkit-border-radius: 0rem;
  border-radius: 0rem;
  background-color: #B49256;
  border: 1px solid #B49256;
}

.btn-fill:hover {
  color: #B49256 !important;
  background-color: transparent;
  border: 1px solid #B49256 !important;
}

.btn-fill-bronze {
  font-family: 'PFBagueSansPro-Bold';
  font-size: 0.7em;
  padding: 1.3rem 1.6rem;
  color: #ffffff;
  background-color: #B49256 !important;
  border: 1px solid #B49256 !important;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-border-radius: 0rem;
  border-radius: 0rem;
}

.btn-fill-bronze:hover {
  color: #FFFFFF;
  background-color: transparent !important;
  border-color: #B49256 !important;
}

.btn-outline-bronze-cm {
  font-family: 'PFBagueSansPro-Bold';
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #B49256;
  padding: 1.1rem 1.3rem !important;
  -webkit-border-radius: 0rem;
  border-radius: 0rem;
  background-color: transparent;
  border: 1px solid #B49256;
}

.btn-outline-bronze-cm:hover {
  color: #fff;
  background-color: #B49256;
  border-color: #B49256;
}

/* BUTTONS FOR OUR HISTORY */

.btn-outline-bronze-h {
  background-color: transparent;
  border: 1px solid #B49256;
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #B49256;
  text-transform: uppercase;
}

.btn-fill-bronze-h {
  padding: 1.1rem 1.6rem;
  color: #ffffff;
  background-color: #B49256;
  border: 1px solid #B49256;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-outline-bronze-h:hover {
  color: #fff;
  background-color: #B49256;
  border-color: #B49256;
}

/*.btn-outline-bronze-h:focus, .btn-outline-bronze-h.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}*/

.btn-outline-bronze-h.disabled,
.btn-outline-bronze-h:disabled {
  color: #B49256;
  color: #B49256;
  background-color: transparent;
}

.btn-outline-bronze-h:not(:disabled):not(.disabled):active,
.btn-outline-bronze-h:not(:disabled):not(.disabled).active,
.show > .btn-outline-bronze-h.dropdown-toggle {
  color: #fff;
  background-color: #B49256;
  border-color: #B49256;
}


/* NAVIGATION TOP*/

.nav-togas > li > a {
  font-family: 'PFBagueSansPro-Light';
  text-transform: uppercase;
  color: #ffffff;
font-size: 0.8em;
letter-spacing: 0.25em;
}

.nav-togas > li > a:hover {
  color: #B49256;
font-size: 0.8em;
letter-spacing: 0.25em;
}

/* REMOVE BOOTSTRAP NAVBAR SHADOW */

nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .container-fluid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-collapse {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* HR white */

.line-top {
  border: none;
  /* Убираем границу для браузера Firefox */
  color: #ffffff;
  /* Цвет линии для остальных браузеров */
  background-color: #ffffff;
  /* Цвет линии для браузера Firefox и Opera */
  height: 1px; 
  /* Толщина линии */
  margin-top: -0.05em;
  margin-right: 0;
  margin-left: 0;
}

.section-title {
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 3.5em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.25rem;
}

.section-title-center {
  font-family: 'PFRegalDisplayPro-Reg';
  font-size: 3.5em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

.subscript-one {
  font-family: 'PFBagueSansPro-Bold';
  font-size: 0.6em;
  letter-spacing: 4px;
  color: #B49256;
  text-transform: uppercase;
}

.decor-line {
  width: 150px;
}

.bg-grey {
  background: #F7F7F7;
}

.bg-section-black {
  background-color: #232323;
}

.decor-line {
  width: 150px;
}

.service-title {
  font-family: DisplayPro;
  font-size: 1.1em;
  font-weight: 800;
  /*  font-size: 1.1em !important;
  font-weight: 800 !important;*/
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-img-top-tg {
  width: 90%;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;

}

/* SECTION BLACK STYLES */

.section-black-title {
  text-transform: uppercase;
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 2.3em;
  color: #fff;
  letter-spacing: 4px;
  line-height: 1.1em;
}

.section-black-text {
  font-family: 'PFBagueSansPro-Light';
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: normal;
  color: #B49256;
}

.section-black-testemonials {
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}


/* EXPERTS */

.experts-name {
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 1.9em !important;
  line-height: 1em;
  letter-spacing: 2px;
}

.subscript-center {
  font-family: 'PFBagueSansPro-Bold';
  font-size: 0.6em;
  letter-spacing: 2px;
  color: #B49256;
  text-transform: uppercase;
}

.card-text {
  font-family: 'PFBagueSansPro-Light';
  font-size: 1em;
  color: #9D9D9C;
  letter-spacing: 0.003rem;
  line-height: 1.6rem;
  opacity: 1;
  transition: opacity 2s ease;
}

.fade {
    opacity: 0;
    transition: opacity 2s ease;
}

.transition {
  transition: 3s;
}

/* CONTACTS */

.title-contact {
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 0.8em;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.txt-contact {
  font-family: 'PFRegalDisplayPro-Reg';
  font-size: 1.1em;
  color: #232323;
}

.txt-line {
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 1.3em;
  color: #232323;
}

.border-bronze {
  padding: 0.5rem 0.6rem 0.8rem 0.8rem;
  border: 1px solid #B49256;
}

.btn-lx,
.btn-group-lx > .btn {
  padding: 1rem 1.5rem;
  -webkit-border-radius: 0rem;
  border-radius: 0rem;
}

/* TESTSPY BS4 */

.testspy {
  height: 200px;
  overflow-y: scroll;
  /*overflow: hidden;*/
}

.section-title-left {
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 4em;
  text-transform: uppercase;
}

.section-title-center {
  font-family: DisplayPro;
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
}

.title-year {
  font-family: DisplayPro;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* BUTTONS FOR OUR HISTORY */

.btn-outline-bronze-h {
  background-color: transparent;
  border: 1px solid #B49256;
  font-family: DisplayPro;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #B49256;
  text-transform: uppercase;
  -webkit-border-radius: 0rem !important;
  border-radius: 0rem !important;
}

.service-title {
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 1.58em !important;
  font-weight: 700 !important;
  line-height: 1em;
}

.txt-sub-cm {
  font-family: 'PFBagueSansPro-Light';
  font-size: 1em !important;
  line-height: 1.4em !important;
}

.txt-p {
  font-family: 'PFBagueSansPro-Light';
  font-size: 1em !important;
  line-height: 1.4em !important;
  letter-spacing: 0.025em;
  color: #9D9D9C;
}

.modal-bg {
  background-image: url("/media/couture/img/img-togas-lp3/form.png");
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: transparent;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.modal-dialog {
  max-width: 900px;
}

.modal-bg-wh {
  background-color: #fff;
}

.modal-dialog .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 220px;
  margin-left: auto;
  margin-right: auto;
}

.modal-header-togas-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 1rem;
}

.txt-inner {
  font-family: 'PFRegalDisplayPro-MedItalic';
  font-size: 1.8em !important;
  /*line-height: 1.5rem;*/
  color: #565656;
}

.txt-inner.active {
  /*font-family: 'PFRegalDisplayPro-MedItalic';*/
  font-family: Arial;
  font-size: .9em !important;
  color: #565656;
}

.modal-title {
  z-index: 1060;
  font-family: 'PFRegalDisplayPro-MedItalic';
  font-size: 1.7em;
  color: #232323;
  letter-spacing: 4px;
  margin-top: 40px;
}

.modal-footer-togas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.img-wrapper {
  background-color: #232323;
}

p {
  font-size: 1.125em;
  color: #9D9D9C;
}


/* <!-- SECTION 1.TWO HALF --> *****************************************/

.txt-under {
  font-family: 'PFRegalDisplayPro-MedItalic';
  font-size: 1.65em;
  line-height: 1.18em;
  color: #232323;
  letter-spacing: 0.06em;
}

/* <!-- /SECTION 1.TWO HALF --> *****************************************/

.container-header {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.row-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-left: -15px; */
  /* margin-right: -15px; */
}

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo {
/*  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);*/
}

.offer {
  margin-top: 200px;
  text-align: center;
}

.offer__title {
  font-size: 52px;
  font-weight: 300;
  color: #fff;
}

.offer__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.offer__form input {
  background: #fff;
  border: 0;
  width: 328px;
  display: block;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.offer__form button {
  background: #fd4f32;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  width: 124px;
  padding: 10px 0;
  cursor: pointer;
  display: block;
  border: none;
}

.third-col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
}

.col-gap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
}

.row-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.txt-quote {
  font-family: 'PFBagueSansPro-Light';
  font-size: 1em;
  font-weight: 100;
  color: #fff !important;
  letter-spacing: 0.05em;
}

.subscript-name {
  font-family: 'PFBagueSansPro-Light';
  font-size: 0.55em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #B49256;
  font-weight: 800;
}

#top {
  background-image: url("/media/couture/img/img-togas-lp3/top2.png?v=3") no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  display: none;
  font-size: 150%;
  color: #B49256;
  margin: 1rem;
}

@media screen and (max-width: 1140px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }

  .container-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }

  .container-header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
/*    width: -webkit-calc(58.33333% - 30px);
    width: calc(58.33333% - 30px);*/
    width: 620px;
  }

  .third-col {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav li:not(:last-child) a:after {
    content: "" !important;
    padding: 0px 0px !important;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    width: 620px;
  }

  .third-col {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .section-title {
  font-family: 'PFRegalDisplayPro-Medium';
    font-size: 2.2em;
    line-height: 1.4em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.25rem;
}

.section-black-title {
  font-size: 1.8em;
  line-height: 1.3em;
}

.txt-under {
    font-size: 1.4em;
 }

}

@media (max-width: 720px) {
  .m-md-tg {
    margin: auto;
  }


  .section-title-center {
    font-size: 3em;
  }

  .section-title-left {
    font-size: 3em;
  }
}

@media screen and (max-width: 540px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo {
/*    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);*/
    width: 620px;
  }

  .offer__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }



  .container-header {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row-header {
    margin-left: -5px;
    margin-right: -5px;
  }

  .logo {
    margin-left: 5px;
    margin-right: 5px;
  }

  .offer__title {
    font-size: 25px;
  }

  .offer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .offer__form input {
    width: auto;
  }

  .offer__form button {
    width: auto;
  }

  .third-col {
    margin-left: 5px;
    margin-right: 5px;
  }

  .col-gap {
    margin-left: 5px;
    margin-right: 5px;
  }
}

// /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.modal-title {
  z-index: 1060;
  font-family: 'PFRegalDisplayPro-MedItalic';
  font-size: 1.7em;
  color: #232323;
}

.modal-title-top {
    font-family: 'PFRegalDisplayPro-MedItalic';
    font-size: 2.3em;
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: 1.3em;
    padding-left: 2em;
}

.modal-title-top span {
  letter-spacing: 0;
}

.container-header-fluid {
max-width: 1900px;
}

/* FULL SCREEN CAROUSEL  MDB */

header {
  position: relative;
  text-align: center;
}

.header-block {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
}

.carousel-bg {
  background-color: #000;
}

/* OWL CAROUSEL */
/*ORIGINAL*/
      .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 10px; }

      .owl-theme .owl-dots {
        text-align: center;
        -webkit-tap-highlight-color: transparent; }
      .owl-theme .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
        *display: inline; }
      .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #D6D6D6;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }


/* REWRITE CONTROLS FOR OWL CAROUSEL TESTEMONIALS*/
      .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 10px; }

      .owl-theme .owl-dots {
        text-align: center;
        padding-top: 5rem;
        margin-bottom: 5rem;
        z-index: 15;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;

      }
      .owl-theme .owl-dots .owl-dot {
          cursor: pointer;
      }

      .owl-theme .owl-dots .owl-dot.active span {
          width: 6rem;
          height: 0.25rem;
          display: flex;
          transition: opacity 200ms ease;
          border-radius: 0;
      }

      .owl-theme .owl-dots .owl-dot span {
          width: 6rem;
          height: 0.08rem;
          background-color: #B49256;
          top: 2px;
          display: flex;
          transition: opacity 200ms ease;
          border-radius: 0;
          padding: 0;
          margin: 0 ;
      }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #B49256; }


/* carousel-indicators ////////////////////////////////////// */

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 35px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel .carousel-indicators li {
width: 6rem;
height: 0.25rem;
border-radius: 0;
  cursor: pointer;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 90px;
  height: 2px;
  margin-right: 0px;
  margin-left: 0px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0);
}

.carousel-indicators li::before {
width: 6rem;
height: 0.08rem;
background-color: #B49256;
top: 2px;
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #B49256;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, 
  -webkit-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
    -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

/* SET  transition-duration: 0.6s; IF BLINK */
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;

}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0;
}

/* custom-made */
.sub-title-custom {
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 1.9em;
  letter-spacing: 0.35em;
  font-variant: small-caps;
  color: #B49256;
}

@media screen and (max-width: 990px) {
  .sub-title-custom {
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 1.5em;
  letter-spacing: 0.35em;
  font-variant: small-caps;
  color: #B49256;
  
}
}

/* navbar top */
.navbar {
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 1141px) {
    .navbar-nav li:not(:last-child) a:after {
      content: "|";
      color: #fff;
      font-size: 100%;
      padding-right: 0px;
      padding-left: 1em;
  }

  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.35rem;
      padding-left: 0.35rem;
  }

    .sub-title-custom {
      font-size: 1.74em;
  }
}

/* MODAL FORM */
/* MD FORM MDB */
/*////////////////////////////////////////////////////////////////*/
.md-form {
  position: relative;
  margin-top: 1.5rem;
}

.md-form input[type=text],
.md-form input[type=password],
.md-form input[type=email],
.md-form input[type=url],
.md-form input[type=time],
.md-form input[type=date],
.md-form input[type=datetime-local],
.md-form input[type=tel],
.md-form input[type=number],
.md-form input[type=search-md],
.md-form input[type=search],
.md-form textarea.md-textarea {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
}


.md-form input[type=text] + label:after,
.md-form input[type=password] + label:after,
.md-form input[type=email] + label:after,
.md-form input[type=url] + label:after,
.md-form input[type=time] + label:after,
.md-form input[type=date] + label:after,
.md-form input[type=datetime-local] + label:after,
.md-form input[type=tel] + label:after,
.md-form input[type=number] + label:after,
.md-form input[type=search-md] + label:after,
.md-form input[type=search] + label:after,
.md-form textarea.md-textarea + label:after {
  content: "";
  position: absolute;
  top: 65px;
  display: block;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -o-transition: 0.2s opacity ease-out, 0.2s color ease-out;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
}

.md-form input[type=text].valid,
.md-form input[type=text]:focus.valid,
.md-form input[type=password].valid,
.md-form input[type=password]:focus.valid,
.md-form input[type=email].valid,
.md-form input[type=email]:focus.valid,
.md-form input[type=url].valid,
.md-form input[type=url]:focus.valid,
.md-form input[type=time].valid,
.md-form input[type=time]:focus.valid,
.md-form input[type=date].valid,
.md-form input[type=date]:focus.valid,
.md-form input[type=datetime-local].valid,
.md-form input[type=datetime-local]:focus.valid,
.md-form input[type=tel].valid,
.md-form input[type=tel]:focus.valid,
.md-form input[type=number].valid,
.md-form input[type=number]:focus.valid,
.md-form input[type=search-md].valid,
.md-form input[type=search-md]:focus.valid,
.md-form input[type=search].valid,
.md-form input[type=search]:focus.valid,
.md-form textarea.md-textarea.valid,
.md-form textarea.md-textarea:focus.valid {
  border-bottom: 1px solid #B49256;
/*  -webkit-box-shadow: 0 1px 0 0 #B49256;
  box-shadow: 0 1px 0 0 #00c851;*/
  box-shadow: none;
}

.md-form input[type=text].valid + label:after,
.md-form input[type=text]:focus.valid + label:after,
.md-form input[type=password].valid + label:after,
.md-form input[type=password]:focus.valid + label:after,
.md-form input[type=email].valid + label:after,
.md-form input[type=email]:focus.valid + label:after,
.md-form input[type=url].valid + label:after,
.md-form input[type=url]:focus.valid + label:after,
.md-form input[type=time].valid + label:after,
.md-form input[type=time]:focus.valid + label:after,
.md-form input[type=date].valid + label:after,
.md-form input[type=date]:focus.valid + label:after,
.md-form input[type=datetime-local].valid + label:after,
.md-form input[type=datetime-local]:focus.valid + label:after,
.md-form input[type=tel].valid + label:after,
.md-form input[type=tel]:focus.valid + label:after,
.md-form input[type=number].valid + label:after,
.md-form input[type=number]:focus.valid + label:after,
.md-form input[type=search-md].valid + label:after,
.md-form input[type=search-md]:focus.valid + label:after,
.md-form input[type=search].valid + label:after,
.md-form input[type=search]:focus.valid + label:after,
.md-form textarea.md-textarea.valid + label:after,
.md-form textarea.md-textarea:focus.valid + label:after {
  content: attr(data-success);
  /*color: #00c851;*/
  color: #B49256;
  opacity: 0;
  border-bottom: 1px solid #B49256;
}

.md-form input[type=text].invalid,
.md-form input[type=text]:focus.invalid,
.md-form input[type=password].invalid,
.md-form input[type=password]:focus.invalid,
.md-form input[type=email].invalid,
.md-form input[type=email]:focus.invalid,
.md-form input[type=url].invalid,
.md-form input[type=url]:focus.invalid,
.md-form input[type=time].invalid,
.md-form input[type=time]:focus.invalid,
.md-form input[type=date].invalid,
.md-form input[type=date]:focus.invalid,
.md-form input[type=datetime-local].invalid,
.md-form input[type=datetime-local]:focus.invalid,
.md-form input[type=tel].invalid,
.md-form input[type=tel]:focus.invalid,
.md-form input[type=number].invalid,
.md-form input[type=number]:focus.invalid,
.md-form input[type=search-md].invalid,
.md-form input[type=search-md]:focus.invalid,
.md-form input[type=search].invalid,
.md-form input[type=search]:focus.invalid,
.md-form textarea.md-textarea.invalid,
.md-form textarea.md-textarea:focus.invalid {
  border-bottom: 1px solid #B49256;
/*  -webkit-box-shadow: 0 1px 0 0 #f44336;
  box-shadow: 0 1px 0 0 #f44336;*/
}

.md-form input[type=text].invalid + label:after,
.md-form input[type=text]:focus.invalid + label:after,
.md-form input[type=password].invalid + label:after,
.md-form input[type=password]:focus.invalid + label:after,
.md-form input[type=email].invalid + label:after,
.md-form input[type=email]:focus.invalid + label:after,
.md-form input[type=url].invalid + label:after,
.md-form input[type=url]:focus.invalid + label:after,
.md-form input[type=time].invalid + label:after,
.md-form input[type=time]:focus.invalid + label:after,
.md-form input[type=date].invalid + label:after,
.md-form input[type=date]:focus.invalid + label:after,
.md-form input[type=datetime-local].invalid + label:after,
.md-form input[type=datetime-local]:focus.invalid + label:after,
.md-form input[type=tel].invalid + label:after,
.md-form input[type=tel]:focus.invalid + label:after,
.md-form input[type=number].invalid + label:after,
.md-form input[type=number]:focus.invalid + label:after,
.md-form input[type=search-md].invalid + label:after,
.md-form input[type=search-md]:focus.invalid + label:after,
.md-form input[type=search].invalid + label:after,
.md-form input[type=search]:focus.invalid + label:after,
.md-form textarea.md-textarea.invalid + label:after,
.md-form textarea.md-textarea:focus.invalid + label:after {
  content: attr(data-error);
  color: #B49256;
  opacity: 0;
}

.md-form .was-validated input[type=text]:valid + label {
  color: #B49256;
  border-bottom: 1px solid #B49256;
}

.md-form .was-validated input[type=text]:invalid + label {
  color: #f44336 !important;
}

.md-form .was-validated .form-control:valid:focus {

}

.md-form .was-validated .form-control:valid {

}

.md-form .was-validated .form-control:invalid:focus {

}

.md-form .was-validated .form-control:invalid {
  border-color: #f44336 !important;
}

.md-form .form-control {
  margin: 0 0 0.5rem 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.1rem 0 0.1rem 0;
  background-image: none;
  background-color: transparent;
}

.md-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.md-form .form-control:disabled,
.md-form .form-control[readonly] {
  border-bottom: 1px solid #bdbdbd;
  background-color: transparent;
}

.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #B49256;
  }

/*.md-form label {
  

}*/

.md-form label.active {
  font-size: 0.8rem;
}

.md-form .prefix {
  top: 0.25rem;
  font-size: 1.75rem;
}

.md-form .prefix ~ input,
.md-form .prefix ~ textarea {
  margin-left: 2.5rem;
  width: -webkit-calc(100% - 2.5rem);
  width: calc(100% - 2.5rem);
}

.md-form .prefix ~ label {
  margin-left: 2.5rem;
}

.md-form .prefix ~ .form-text {
  margin-left: 2.6rem;
}

.md-form label.active {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.md-form .prefix {
  position: absolute;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.md-form .prefix.active {
  color: #4285f4;
}

.md-form.form-lg label {
  font-size: 1.25rem;
}

.md-form.form-lg label.active {
  font-size: 0.95rem;
}

.md-form.form-lg .prefix {
  top: 0.4rem;
  font-size: 2rem;
}

.md-form.form-lg .prefix ~ input,
.md-form.form-lg .prefix ~ textarea {
  margin-left: 3rem;
  width: -webkit-calc(100% - 3rem);
  width: calc(100% - 3rem);
}

.md-form.form-lg .prefix ~ label {
  margin-left: 3rem;
}

.md-form.form-lg .prefix ~ .form-text {
  margin-left: 3.1rem;
}

.md-form.form-sm label {
  font-size: 0.875rem;
}

.md-form.form-sm label.active {
  font-size: 0.75rem;
}

.md-form.form-sm .prefix {
  top: 0.35rem;
  font-size: 1.5rem;
}

.md-form.form-sm .prefix ~ input,
.md-form.form-sm .prefix ~ textarea {
  margin-left: 2rem;
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}

.md-form.form-sm .prefix ~ label {
  margin-left: 2rem;
}

.md-form.form-sm .prefix ~ .form-text {
  margin-left: 2rem;
}

.md-form textarea.md-textarea {
  overflow-y: hidden;
  padding: 1.5rem 0;
  resize: none;
}

.md-form textarea.md-textarea-auto {
  padding: 0;
  padding-top: 1.5rem;
}
/*//////////////////////////////////////////////////////////////////*/
/* ENDE MD FORM /////////////////////////////////////////////////  */


.md-form {
    margin-top: 0;
}

.modal-body {
  padding: 0 3em;
}

.md-form label {
    top: -0.1rem;
    left: 0;
    color: #565656;
    position: absolute;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: text;
    
}

.md-form label.active {
  -webkit-transform: translateY(-35%);
  -ms-transform: translateY(-35%);
  transform: translateY(-35%);
  font-size: 0.3rem;
  color: grey;
}

.minus-mt-1 {
  margin-top: -2em;
}

.md-form input[type=text]:focus:not([readonly]) + label,
.md-form input[type=password]:focus:not([readonly]) + label,
.md-form input[type=email]:focus:not([readonly]) + label,
.md-form input[type=url]:focus:not([readonly]) + label,
.md-form input[type=time]:focus:not([readonly]) + label,
.md-form input[type=date]:focus:not([readonly]) + label,
.md-form input[type=datetime-local]:focus:not([readonly]) + label,
.md-form input[type=tel]:focus:not([readonly]) + label,
.md-form input[type=number]:focus:not([readonly]) + label,
.md-form input[type=search-md]:focus:not([readonly]) + label,
.md-form input[type=search]:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
 color: grey;
}

.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: none;
  border-bottom: 1px solid #B49256;
  color: #B49256;

}

.txt-pre {

}


/* RADIO BUTTON //////////////////////////////////////////////*/
.form-check-input {
    margin-top: 0.9rem;
    margin-left: -1.4rem;
}

.form-check {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* REPLACE IMAGE RADIO BUTTON */
input[type=radio] {
    display:none; 
 }

input[type=radio]:checked + label::before {
  content:  url(/media/couture/img/img-togas-lp3/check.png?v=3);
  margin-left: -1rem;
}

<!-- SECTION :: BLACK BOX -->
.p-advance-15 {
  padding-right: 0px;
  padding-left: 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////*/

/*         Just for demo     */
#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}


/* NAV FOR SECTION "OUR STORY" */

.controls-story {
  height: 140px;
  width: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  
}

.nav-pills .nav-link {
  background: url('../img/img-togas-lp3/dot2.png') no-repeat center;
  border-radius: 0;
  height: 140px;
  width: 2.5em;
}

.nav-link {
  display: block;
  padding: 0.3rem 2.4rem;
}

.nav-pills .nav-link a {
  padding: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: transparent url('../img/img-togas-lp3/dot1.png') no-repeat center;
  color: #232323;
  width: 2.5em;
}

.nav-pills .nav-link span{
  display: none;
  opacity: 0;
  font-family: 'PFRegalDisplayPro-Medium';
  font-size: 2em;
  letter-spacing: 0.01em;
  width: 2em;
  padding-top: 140px;
  margin-left: -35px;
  color: #232323;
}

.nav-pills .nav-link.active span, 
.nav-pills .nav-link.active span:hover,
.nav-pills .nav-link:hover span {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.nav-pills .nav-link:hover span{
  color: #CCCCCC;
}

.nav-pills .nav-link.active span:hover {
  color: #232323;
}


/* Necessary for full page carousel*/
    html,
    body,
    /*.view */{
      height: 100%;
    }

    /* Carousel*/
    .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }
    .carousel-item:nth-child(1) {
      background-image: url("https://media1.togas.com/media/couture/img/img-togas-lp3/slider1-sh.jpg?v=2");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(2) {
      background-image: url("https://media1.togas.com/media/couture/img/img-togas-lp3/slider2-sh.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(3) {
      background-image: url("https://media1.togas.com/media/couture/img/img-togas-lp3/slider3-sh.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }


/* Social links  */
.txt-line a {
  color: #232323;
}

.txt-line a::hover {
  color: #B49256;
}
















/* Modal */














/* THUMBCAROUSEL 1 */

/*.product-slider { padding: ; }

.product-slider #carousel { border: 4px solid #1089c0; margin: 0; }

.product-slider #thumbcarousel { margin: 12px 0 0; padding: 0 45px; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb { border: 4px solid #cecece; width: 20%; margin: 0 2%; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }

.product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }

.product-slider .item img { width: 100%; height: auto; }

.carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }*/

/* /THUMBCAROUSEL */


/* THUMBCAROUSEL 2 :: http://slippry.com/examples/thumbnails/ */
/* Thumbnails */
/*.thumb-box {
  padding: 1.4em 0 1em;
  margin-left: -1%;
  width: 102%;
  .thumbs {
    @include clearfix;
    li {
      float: left;
      width: 25%;
      text-align: center;
      padding: 0 1%;
      img {
        width: 100%;
        opacity: .8;
        @include transition(opacity .32s);
        border-bottom: 4px solid transparent;
        &.active {
          border-color: $bc-rk-blue;
          opacity: 1;
        }
      }
      &:hover {
        img {
          opacity: 1;
          @include transition(opacity .2s);
        }
      }
    }
  }
}*/

.thumb-box {
  padding: 1.4em 0 1em;
  margin-left: -1%;
  width: 102%;
}

.thumb-box .thumbs::after {
  display: block;
  clear: both;
  content: "";
}

.thumb-box .thumbs li {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 1%;
}

.thumb-box .thumbs li img {
    width: 100%;
    opacity: .8;
    border-bottom: 4px solid transparent;
    -webkit-transition: .32s opacity;
    -o-transition: .32s opacity;
    transition: .32s opacity;
}

.thumb-box .thumbs li img.active {
    border-color: $bc-rk-blue;
    opacity: 1;
}

.thumb-box .thumbs:hover img {
    opacity: 1;
    -webkit-transition: .2s opacity;
    -o-transition: .2s opacity;
    transition: .2s opacity;
}

/* THUMBCAROUSEL 2 :: http://slippry.com/examples/thumbnails/ */


/* Collapce cards styles */
.container-collapse {
  max-width: 1046px;
  position: relative;
}

.card-tg {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #B49256;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  box-sizing: border-box;
  display: flex;
  width: 100% !important;

}

.card-body-tg {
 padding: 3rem;
}

.modal-content-tg {
    width: 100%;
  }

/*.card-text {
  margin-right: -3rem;
}*/

.carousel-collapse .owl-dots {
  display: none;
}

.carousel-collapse .owl-nav {
  margin-top: 0;
}

.btn-fill-bronze-collapse {
  font-family: 'PFBagueSansPro-Bold';
  font-size: 0.7em;
  padding: 1.3rem 1.6rem;
  color: #ffffff;
  background-color: #B49256;
  border: 1px solid #B49256 !important;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-border-radius: 0rem;
  border-radius: 0rem;
}

.btn-fill-bronze-collapse:hover {
  color: #B49256;
  background-color: #fff;
}

.bind::before {
height: 50px;
border-left: 1px solid #B49256;
margin-top: -3.1rem;
margin-left: 10.4rem;
content: "";
opacity: 1;
transition: opacity 1s ease;
}

.bind-absolute {
  display: none;
  /*display: block;*/
  position: absolute;
  margin-top: -50px;
  width: 20px;
  height: 50px;
  background-color: #000;
  content: "test .bind-absolute";
}


.bind-fabric::before {
  height: 50px;
  border-left: 1px solid #B49256;
  margin-top: -3.1rem;
  margin-left: 9.5rem;
  content: "";
}

.fade-collapse {
  opacity: 0;
  transition: opacity 1s ease;
}

#bind-button-fabrics,
#bind-button-shades,
#bind-button-upholstery,
#bind-button-draps,
#bind-button-headboards,
#bind-button-accessories {
  display: none;
  position: absolute;
  height: 51px;
  width: 2px;
  border-left: 1px solid #B49256;
  margin-top: -0.4rem;
  margin-left: 9.3rem;
  
  opacity: 1;
  transition: all .5s ease;
}

.button-wrapper {
  position: relative;
}


/*.bind-button2::after {
  display: none;
  position: absolute;
  height: 51px;
  width: 2px;
  border-left: 1px solid #000;
  margin-top: -0.9rem;
  margin-left: -0.4rem;
  content: "";
  
  opacity: 1;
  transition: all .5s ease;
}*/
/*# sourceMappingURL=styles.css.map */
