.free_numb_rus {
	font-size: 1em;
    text-transform: none;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 1528px) {
    .navbar-nav li:not(:last-child) a:after {
      content: "|";
      color: #fff;
      font-size: 100%;
      padding-right: 0px;
      padding-left: 1em;
  }

  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
  }

    .sub-title-custom {
      font-size: 1.74em;
  }
}