.free_numb_rus {
	font-size: 1em;
    text-transform: none;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 1528px) {
    .navbar-nav li:not(:last-child) a:after {
      content: "|";
      color: #fff;
      font-size: 100%;
      padding-right: 0px;
      padding-left: 1em;
  }

  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
  }

    .sub-title-custom {
      font-size: 1.74em;
  }
}
.bullets {

	margin-bottom: 1em !important;
	list-style: disc;
	margin-left: 4em;
	/* color: #171717; */
	/* font-weight: bold; */
	/* font-size: 1.2em; */
}
.bullets:first-child {
	padding-top:1rem;	
}
	.carousel-item:nth-child(1) {
      background-image: url("https://media.togas.com/media/couture/img/img-togas-lp3/slider1-sh-rus.jpg?v=2");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(2) {
      background-image: url("https://media1.togas.com/media/couture/img/img-togas-lp3/slider1-sh.jpg?v=2");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(3) {
      background-image: url("https://media1.togas.com/media/couture/img/img-togas-lp3/slider2-sh.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(4) {
      background-image: url("https://media1.togas.com/media/couture/img/img-togas-lp3/slider3-sh.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
.modal-first-line {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2rem;
}
.modal-second-line {
    font-size: 1.8rem;
    line-height: 2rem;
}
.modal-third-line {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 4rem;
}
.video-screenshot {
	border-radius:5px; 
	padding: 5px; 
	margin: 20px; 
	border: 2px solid #a58650;
}

ul.txt-p { margin:1em 0 2em 0;}

.txt-sub-cm {color: #424242;font-size: 0.9em !important;}

.card-text {color: #424242;}